# compiled output
/api-server//dist
/api-server/node_modules
/build-server/node_modules
/api-server//build


# OS
.DS_Store

# Tests
/api-server//coverage
/api-server//.nyc_output


# dotenv environment variable files
/api-server/.env
/build-server/.env